.Result {
  width: 15vw;
  height: 22vh;
  text-align: center;
  margin: 1.5vh;
  cursor: pointer;
  background-color: rgba(137, 207, 240, 0.8);
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
}

.Result-thumb {
  margin-top: 1vh;
  margin-left: 1.5vw;
  width: 12vw;
  height: 18vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.Result-name {
  font-size: 1.8vh;
  text-align: center;
  font-weight: bold;
  padding: 0.5vh;
  word-wrap: break-word;
}

.Result:hover .Result-name {
  color: #4c86a8;
}
