.Result {
  width: 18%;
  height: 18%;
  cursor: pointer;
  margin-bottom: 5%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.Result-img {
  width: 85%;
  height: 85%;
  transition: all 0.1s;
}

.Result-name {
  width: 85%;
  text-align: center;
  font-size: 1.3vw;
  box-sizing: border-box;
  transition: all 0.4s;
  padding: 2px;
}

@media (min-width: 1300px) {
  .Result {
    width: 12%;
    height: 20%;
    margin: 0;
  }
  .Result-name {
    background-color: rgba(255, 255, 255, 0);
  }
  .Result:hover .Result-img {
    transform: scale(1.1);
    filter: brightness(.7);
  }
  
  .Result:hover .Result-name {
    color: white;
    background-color: black;
  }
}

@media (max-width: 600px) {
  .Result {
    width: 30%;
    height: 30;
    margin-bottom: 8%;
  }
  .Result-img {
    width: 80%;
    height: 75%;
  }
  .Result-name {
    background-color: black;
    font-size: 1.5vh;
    width: 80%;
    color: white;
  }
}
