.Result {
  width: 18%;
  cursor: pointer;
  margin-bottom: 3%;
  margin-left: 2%;
}

.Result-img {
  width: 85%;
  height: 85%;
  border-radius: 10%;
  transition: all 0.1s;
}

.Result-name {
  width: 85%;
  text-align: center;
  font-size: 1.3vw;
  box-sizing: border-box;
  transition: all 0.4s;
}

.Result:hover .Result-img {
  box-shadow: 1px 1px 5px red;
  transform: scale(1.1);
}

.Result:hover .Result-name {
  color: rgba(255, 206, 66, 0.99);
  background-color: black;
}

@media (min-width: 1000px) {
  .Result {
    width: 12%;
    height: 20%;
  }
}
