.ResultBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.ResultBoard-header {
  width: 100%;
  text-align: center;
  font-size: 4vh;
  color: black;
  font-weight: bold;
}

.ResultBoard-holder {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .ResultBoard {
    width: 100%;
    margin: 0;
  }
}
