.ResultBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  color: white;
}

.ResultBoard-header {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  width: 100%;
  text-align: center;
  font-size: 3vh;
  color: black;
  font-weight: bold;
  color: white;
}

.ResultBoard-holder {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .ResultBoard {
    width: 100%;
  }
}
