.ResultBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1300px;
  margin: auto;
  padding-top: 60px;
}

.ResultBoard-header {
  text-align: center;
}

.ResultBoard-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0;
}

@media only screen and (max-width: 991px) {
  .ResultBoard-header {
    font-size: 1.1rem;
  }

}

@media (max-width: 500px) {
  .ResultBoard {
    width: 90%;
  }
}
