.Cocktail {
  width: 40%;
  margin: 5% auto;
  text-align: center;
  color: white;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 2px 5px rgba(255, 206, 66, 0.99);
}

.Cocktail-title {
  margin: 2%;
  font-size: 3vh;
  font-weight: bold;
}

.Cocktail img {
  width: 45%;
  margin: 2% 27.5%;
  border-radius: 10px;
}

.Cocktail-ingredients {
  width: 60%;
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.Cocktail-ingredient {
  margin-top: 4%;
  width: 25%;
  height: 25%;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.1s;
}

.Cocktail-ingredient img {
  margin: auto;
}

.Cocktail-ingredient:hover {
  transform: scale(1.2);
}

.Cocktail-ingredient:hover .Cocktail-measure {
  color: rgba(255, 206, 66, 0.99);
}

.Cocktail-measure {
  font-size: 0.9vw;
  margin: 3%;
  font-weight: bold;
}

.Cocktail-likes {
  margin-top: 1vh;
  color: #ffcccb;
  cursor: pointer;
  font-size: 2.5vw;
}

.Cocktail-likes:hover {
  transform: scale(1.1);
  text-shadow: 0.3px 0 0 rgba(255, 206, 66, 0.99),
    0 -0.3px 0 rgba(255, 206, 66, 0.99), 0 0.3px 0 rgba(255, 206, 66, 0.99),
    -0.3px 0 0 rgba(255, 206, 66, 0.99);
}

.Cocktail-instructions {
  margin-top: 2%;
  font-size: 1.8vw;
  padding: 2%;
}
