.Cocktail {
  width: 80%;
  margin: 5% auto;
  text-align: center;
  color: white;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 2px 5px red;
}

.Cocktail-title {
  margin: 2%;
  font-size: 3vh;
  font-weight: bold;
}

.Cocktail img {
  width: 45%;
  margin: 2% 27.5%;
  border-radius: 10px;
}

.Cocktail-ingredients {
  width: 60%;
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.Cocktail-ingredient {
  width: 25%;
  /* height: 25%; */
  margin-top: 2%;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Cocktail-ingredient img {
  padding: 3px;
}

/* .Cocktail-ingredient:hover {
  transform: scale(1.2);
} */

.Cocktail-ingredient:hover img {
  box-shadow: 1px 1px 10px 1px rgba(255, 206, 66, 0.4);
  background-color: rgba(255, 206, 66, 0.4);
  transition: background-color 0.1.5s;
}

.Cocktail-ingredient:hover .Cocktail-measure {
  color: rgba(255, 206, 66, 0.99);
}

.Cocktail-measure {
  font-size: 1.4vh;
  margin: 3%;
  font-weight: bold;
}

.Cocktail-likes {
  margin-top: 1vh;
  color: #f47174;
  cursor: pointer;
  font-size: 2.5vw;
  transition: all 0.3s;
}

.Cocktail-likes:hover {
  transform: scale(1.1);
  color: pink;
}

.Cocktail-instructions {
  margin-top: 2%;
  font-size: 1rem;
  padding: 2%;
}

@media (min-width: 1000px) {
  .Cocktail {
    width: 50%;
  }
  .Cocktail-measure {
    font-size: 1.4vh;
  }
  .Cocktail-instructions {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .Cocktail-ingredient {
    width: 30%;
    margin: 1%;
  }
  .Cocktail-measure {
    font-size: 1.1vh;
  }
  .Cocktail-instructions {
    font-size: 0.8rem;
  }
  .Cocktail-likes {
    font-size: 1.3rem;
  }
}
