.Cocktail {
  width: 100%;
  margin: auto;
  padding: 60px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Cocktail h1 {
  text-align: center;
}

.Cocktail h2 {
  margin-bottom: 5px;
}

.Cocktail-img {
  max-width: 568px;
  box-shadow: 0px 5px 5px gray;
  border-radius: 5px;
}

.Cocktail ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.Cocktail ul li {
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

.Cocktail ol {
  padding-inline-start: 0;
}

.Cocktail-measure {
  font-size: .8em;
}

.Cocktail-ingredient {
  color: rgb(24, 108, 11);
  transition: all .3s;
  margin-left: 5px;
}

.Cocktail-paragraph {
  list-style: none;
}

@media only screen and (min-width: 991px) {
  .Cocktail-ingredient:hover {
  color: #FF9914;
  }
  .Cocktail-likes i:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 991px) {
  .Cocktail {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .Cocktail-img {
    max-width: 320px;
  }
}

.Cocktail-likes i {
  color: #F21B3F;
  font-size: 1.4em;
  transition: all .3s;
  cursor: pointer;
  margin-top: 10px;
}

.Cocktail-login-message {
  text-align: center;
  opacity: 0;
  transition: all .3s;
  color: #F21B3F;
}