body {
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, .2);
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
}

.Form-holder {
  margin: 60px auto 100px auto;
}

form {
  margin: auto;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 3vh;
}

form input {
  margin: 2vh;
  width: 80%;
}

form button {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #29BF12;
  font-weight: bold;
}

form a {
  color: white;
  padding: 10px;
}

.error-msg {
  color: red;
  padding: 10px;
}

