.Ingredient {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
}

.Ingredient img {
  width: 80%;
  margin-left: 10%;
  max-width: 368px;
}
